<style>
.disabled {
   pointer-events: none;
   cursor: default;
}
</style>
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-12">      
    <div class="clearfix"></div><br><br><br><br>
    <ol class="breadcrumb" style="background:#F3F3F4; padding:6px;">
      <li>
        <%- if I18n.locale== :ar %>
          <span class="">
              <a href="<%= url_for :controller => 'home', :action => 'index' %>">الصفحة الرئيسية</a>                   
          </span>
        <% else %>
          <span class="">
           <a href="<%= url_for :controller => 'home', :action => 'index' %>">Home</a>
          </span>
        <% end -%>
      </li>
      <li class="active">
          <%- if I18n.locale== :ar %>
          <span class="">إضافة قالب جديد
              <!-- <a href="<%= url_for :controller => 'home', :action => 'addnew' %>">إضافة قالب جديد</a>                    -->
          </span>
        <% else %>
          <span class="">Add New Item
           <!-- <a  href="<%= url_for :controller => 'home', :action => 'addnew' %>" class="disabled">Add New Item</a>     -->               
          </span>
        <% end -%>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
		<div class="col-lg-12">
  		<div class="ibox">
        <div class="ibox-title" style="background:#1C84C6;color:#f3f3f4 !important;">
            <span class="">Add New Item</span>
            <input type="button" class="btn btn-xs btn-danger pull-right" value="Reset" onclick="resetclass()">
        </div>
        <div class="ibox-content" style="border:1px solid #1C84C6;">
          <%= form_tag(addnew_path,:method => "post",class: "navbar-form",:multipart => true, name: "mainform", id: "mainform") do %>
            <div class="row">
              <div class="col-md-4">
                <table class="table table-bordered">
                  <tr>
                    <td><b>eSTS ID</b></td>
                    <td>
                    <label>ECCMA.eTSR:<%= @max_no %></label>
                    <input type="hidden" name="class_igid" id="class_igid">
                    <input type="hidden" name="igid" id="igid" class="form-control input-sm " value="<%= @igid%>">
                    <input type="hidden" name="old_igid" id="old_igid" class="form-control input-sm " >
                    <input type="hidden" name="cmm" class="form-control input-sm" id="cmm" value="<%= @max_no %>">
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <b>Part No</b>
                    </td> 
                    <td>  
                      <div class="input-group" style="width: 100%;">
                        <span class="input-group-addon"> 
                            <b><%= current_user.name.upcase %>:</b>
                        </span> 
                        <input  type="text" name="material_id" class="form-control input-sm" id="material_id" style="width: 100%;">
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                    	<b>Class Name<font color="#FF0000">*</font></b>
                    </td>
                    <td align="right">
                      <div id="linkdic"></div>     
                      <div id="classlink" align="left"></div>                  
                      <input type="text" name="term_content" id="term_content" required="required" class="form-control input-sm hide">
                      <input class="hide"  type="text" name="concept_ID" id="concept_ID">
                      <input class="hide"  type="text" name="term_ID" id="term_ID">
                      <input class="hide"  type="text" name="definition_ID" id="definition_ID">
                      <input class="hide"  type="text" name="term_organization_name" id="term_organization_name">
                      <input class="hide"  type="text" name="definition_content" id="definition_content">
                      <input class="hide"  type="text" name="language_name" id="language_name">
                      <a data-toggle="modal" href="#modal-form" style="margin-left: ;">BROWSE</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                   	 <b>Description</b>
                    </td>
                    <td>
                    	<input type="text" name="legacy" id="legacy" class="form-control input-sm" style="width: 100%;">
                    </td>
                  </tr>
                  <tr>
                    <td><b>Image</b></td>
                    <td>
                        <input type="file" id="pictureInput" name="pictureInput">
                        <img src="" alt="" id ="imgprev" width = "40" height = "40" class="img-thumbnail">
                    </td>
                  </tr>
                  <tr>
                    <td><b>Country of orgin</b></td>
                    <td>
                      <div class="row"><div class="col-md-12">
                        <select name="country_orgin" id="country_orgin" class="form-control chosen-select" style="width: 100%;">
                          <option value="">Select</option>
                          <option value="Afghanistan - AF">Afghanistan - AF</option>
                          <option value="Aland Islands - AX">Aland Islands - AX</option>
                          <option value="Albania - AL">Albania - AL</option>
                          <option value="Algeria - DZ">Algeria - DZ</option>
                          <option value="American Samoa - AS">American Samoa - AS</option>
                          <option value="Andorra- AD">Andorra- AD</option>
                          <option value="Angola- AO">Angola- AO</option>
                          <option value="Anguilla- AI">Anguilla- AI</option>
                          <option value="Antarctica- AQ">Antarctica- AQ</option>
                          <option value="Antigua and Barbuda- AG">Antigua and Barbuda- AG</option>
                          <option value="Argentina- AR">Argentina- AR</option>
                          <option value="Armenia- AM">Armenia- AM</option>
                          <option value="Aruba- AW">Aruba- AW</option>
                          <option value="Australia- AU">Australia- AU</option>
                          <option value="Austria- AT">Austria- AT</option>
                          <option value="Azerbaijan- AZ">Azerbaijan- AZ</option>
                          <option value="Bahamas- BS">Bahamas- BS</option>
                          <option value="Bahrain- BH">Bahrain- BH</option>
                          <option value="Bangladesh- BD">Bangladesh- BD</option>
                          <option value="Barbados- BB">Barbados- BB</option>
                          <option value="Belarus- BY">Belarus- BY</option>
                          <option value="Belgium- BE">Belgium- BE</option>
                          <option value="Belize- BZ">Belize- BZ</option>
                          <option value="Benin- BJ">Benin- BJ</option>
                          <option value="Bermuda- BM">Bermuda- BM</option>
                          <option value="Bhutan- BT">Bhutan- BT</option>
                          <option value="Bolivia, Plurinational State of- BO">Bolivia, Plurinational State of- BO</option>
                          <option value="Bonaire, Sint Eustatius and Saba- BQ">Bonaire, Sint Eustatius and Saba- BQ</option>
                          <option value="Bosnia and Herzegovina- BA">Bosnia and Herzegovina- BA</option>
                          <option value="Botswana- BW">Botswana- BW</option>
                          <option value="Bouvet Island- BV">Bouvet Island- BV</option>
                          <option value="Brazil- BR">Brazil- BR</option>
                          <option value="British Indian Ocean Territory- IO">British Indian Ocean Territory- IO</option>
                          <option value="Brunei Darussalam- BN">Brunei Darussalam- BN</option>
                          <option value="Bulgaria- BG">Bulgaria- BG</option>
                          <option value="Burkina Faso- BF">Burkina Faso- BF</option>
                          <option value="Burundi- BI">Burundi- BI</option>
                          <option value="Cambodia- KH">Cambodia- KH</option>
                          <option value="Cameroon- CM">Cameroon- CM</option>
                          <option value="Canada- CA">Canada- CA</option>
                          <option value="Cape Verde- CV">Cape Verde- CV</option>
                          <option value="Cayman Islands- KY">Cayman Islands- KY</option>
                          <option value="Central African Republic- CF">Central African Republic- CF</option>
                          <option value="Chad- TD">Chad- TD</option>
                          <option value="Chile- CL">Chile- CL</option>
                          <option value="China- CN">China- CN</option>
                          <option value="Christmas Island- CX">Christmas Island- CX</option>
                          <option value="Cocos (Keeling) Islands- CC">Cocos (Keeling) Islands- CC</option>
                          <option value="Colombia- CO">Colombia- CO</option>
                          <option value="Comoros- KM<">Comoros- KM</option>
                          <option value="Congo- CG">Congo- CG</option>
                          <option value="Congo, the Democratic Republic of the- CD">Congo, the Democratic Republic of the- CD</option>
                          <option value="Cook Islands- CK">Cook Islands- CK</option>
                          <option value="Costa Rica- CR">Costa Rica- CR</option>
                          <option value="Côte d'Ivoire- CI">Côte d'Ivoire- CI</option>
                          <option value="Croatia- HR">Croatia- HR</option>
                          <option value="Cuba- CU">Cuba- CU</option>
                          <option value="Curacao- CW">Curacao- CW</option>
                          <option value="Cyprus- CY">Cyprus- CY</option>
                          <option value="Czech Republic- CZ">Czech Republic- CZ</option>
                          <option value="Denmark- DK">Denmark- DK</option>
                          <option value="Djibouti- DJ">Djibouti- DJ</option>
                          <option value="Dominica- DM">Dominica- DM</option>
                          <option value="Dominican Republic- DO">Dominican Republic- DO</option>
                          <option value="Ecuador- EC">Ecuador- EC</option>
                          <option value="Egypt- EG">Egypt- EG</option>
                          <option value="El Salvador- SV">El Salvador- SV</option>
                          <option value="Equatorial Guinea- GQ">Equatorial Guinea- GQ</option>
                          <option value="Eritrea- ER">Eritrea- ER</option>
                          <option value="Estonia- EE">Estonia- EE</option>
                          <option value="Ethiopia- ET">Ethiopia- ET</option>
                          <option value="Falkland Islands (Malvinas)- FK">Falkland Islands (Malvinas)- FK</option>
                          <option value="Faroe Islands- FO">Faroe Islands- FO</option>
                          <option value="Fiji- FJ">Fiji- FJ</option>
                          <option value="Finland- FI">Finland- FI</option>
                          <option value="France- FR">France- FR</option>
                          <option value="French Guiana- GF">French Guiana- GF</option>
                          <option value="French Polynesia- PF">French Polynesia- PF</option>
                          <option value="French Southern Territories- TF">French Southern Territories- TF</option>
                          <option value="Gabon- GA">Gabon- GA</option>
                          <option value="Gambia- GM">Gambia- GM</option>
                          <option value="Georgia- GE">Georgia- GE</option>
                          <option value="Germany- DE">Germany- DE</option>
                          <option value="Ghana- GH">Ghana- GH</option>
                          <option value="Gibraltar- GI">Gibraltar- GI</option>
                          <option value="Greece- GR">Greece- GR</option>
                          <option value="Greenland- GL">Greenland- GL</option>
                          <option value="Grenada- GD">Grenada- GD</option>
                          <option value="Guadeloupe- GP">Guadeloupe- GP</option>
                          <option value="Guam- GU">Guam- GU</option>
                          <option value="Guatemala- GT">Guatemala- GT</option>
                          <option value="Guernsey- GG">Guernsey- GG</option>
                          <option value="Guinea- GN">Guinea- GN</option>
                          <option value="Guinea-Bissau- GW">Guinea-Bissau- GW</option>
                          <option value="Guyana- GY">Guyana- GY</option>
                          <option value="Haiti- HT">Haiti- HT</option>
                          <option value="Heard Island and McDonald Islands- HM">Heard Island and McDonald Islands- HM</option>
                          <option value="Holy See (Vatican City State)- VA">Holy See (Vatican City State)- VA</option>
                          <option value="Honduras- HN">Honduras- HN</option>
                          <option value="Hong Kong- HK">Hong Kong- HK</option>
                          <option value="Hungary- HU">Hungary- HU</option>
                          <option value="Iceland- IS">Iceland- IS</option>
                          <option value="India- IN">India- IN</option>
                          <option value="Indonesia- ID">Indonesia- ID</option>
                          <option value="Iran, Islamic Republic of- IR">Iran, Islamic Republic of- IR</option>
                          <option value="Iraq- IQ">Iraq- IQ</option>
                          <option value="Ireland- IE">Ireland- IE</option>
                          <option value="Isle of Man- IM">Isle of Man- IM</option>
                          <option value="Israel- IL">Israel- IL</option>
                          <option value="Italy- IT">Italy- IT</option>
                          <option value="Jamaica- JM">Jamaica- JM</option>
                          <option value="Japan- JP">Japan- JP</option>
                          <option value="Jersey- JE">Jersey- JE</option>
                          <option value="Jordan- JO">Jordan- JO</option>
                          <option value="Kazakhstan- KZ">Kazakhstan- KZ</option>
                          <option value="Kenya- KE">Kenya- KE</option>
                          <option value="Kiribati- KI">Kiribati- KI</option>
                          <option value="Korea, Democratic People's Republic of- KP">Korea, Democratic People's Republic of- KP</option>
                          <option value="Korea, Republic of- KR">Korea, Republic of- KR</option>
                          <option value="Kuwait- KW">Kuwait- KW</option>
                          <option value="Kyrgyzstan- KG">Kyrgyzstan- KG</option>
                          <option value="Lao People's Democratic Republic- LA">Lao People's Democratic Republic- LA</option>
                          <option value="Latvia- LV">Latvia- LV</option>
                          <option value="Lebanon- LB">Lebanon- LB</option>
                          <option value="Lesotho- LS">Lesotho- LS</option>
                          <option value="Liberia- LR<">Liberia- LR</option>
                          <option value="Libya- LY">Libya- LY</option>
                          <option value="Liechtenstein- LI">Liechtenstein- LI</option>
                          <option value="Lithuania- LT">Lithuania- LT</option>
                          <option value="Luxembourg- LU">Luxembourg- LU</option>
                          <option value="Macao- MO">Macao- MO</option>
                          <option value="Macedonia, the former Yugoslav Republic of- MK">Macedonia, the former Yugoslav Republic of- MK</option>
                          <option value="Madagascar- MG">Madagascar- MG</option>
                          <option value="Malawi- MW">Malawi- MW</option>
                          <option value="Malaysia- MY">Malaysia- MY</option>
                          <option value="Maldives- MV">Maldives- MV</option>
                          <option value="Mali- ML">Mali- ML</option>
                          <option value="Malta- MT">Malta- MT</option>
                          <option value="Marshall Islands- MH">Marshall Islands- MH</option>
                          <option value="Martinique- MQ">Martinique- MQ</option>
                          <option value="Mauritania- MR">Mauritania- MR</option>
                          <option value="Mauritius- MU">Mauritius- MU</option>
                          <option value="Mayotte- YT">Mayotte- YT</option>
                          <option value="Mexico- MX">Mexico- MX</option>
                          <option value="Micronesia, Federated States of- FM">Micronesia, Federated States of- FM</option>
                          <option value="Moldova, Republic of- MD">Moldova, Republic of- MD</option>
                          <option value="Monaco- MC">Monaco- MC</option>
                          <option value="Mongolia- MN">Mongolia- MN</option>
                          <option value="Montenegro- ME">Montenegro- ME</option>
                          <option value="Montserrat- MS">Montserrat- MS</option>
                          <option value="Morocco- MA">Morocco- MA</option>
                          <option value="Mozambique- MZ">Mozambique- MZ</option>
                          <option value="Myanmar- MM">Myanmar- MM</option>
                          <option value="Namibia- NA">Namibia- NA</option>
                          <option value="Nauru- NR">Nauru- NR</option>
                          <option value="Nepal- NP">Nepal- NP</option>
                          <option value="Netherlands- NL">Netherlands- NL</option>
                          <option value="New Caledonia- NC">New Caledonia- NC</option>
                          <option value="New Zealand- NZ">New Zealand- NZ</option>
                          <option value="Nicaragua- NI">Nicaragua- NI</option>
                          <option value="Niger- NE">Niger- NE</option>
                          <option value="Nigeria- NG">Nigeria- NG</option>
                          <option value="Niue- NU">Niue- NU</option>
                          <option value="Norfolk Island- NF">Norfolk Island- NF</option>
                          <option value="Northern Mariana Islands- MP">Northern Mariana Islands- MP</option>
                          <option value="Norway- NO">Norway- NO</option>
                          <option value="Oman- OM">Oman- OM</option>
                          <option value="Pakistan- PK">Pakistan- PK</option>
                          <option value="Palau- PW">Palau- PW</option>
                          <option value="Palestinian Territory, Occupied- PS">Palestinian Territory, Occupied- PS</option>
                          <option value="Panama- PA">Panama- PA</option>
                          <option value="Papua New Guinea- PG">Papua New Guinea- PG</option>
                          <option value="Paraguay- PY">Paraguay- PY</option>
                          <option value="Peru- PE">Peru- PE</option>
                          <option value="Philippines- PH">Philippines- PH</option>
                          <option value="Pitcairn- PN">Pitcairn- PN</option>
                          <option value="Poland- PL">Poland- PL</option>
                          <option value="Portugal- PT">Portugal- PT</option>
                          <option value="Puerto Rico- PR">Puerto Rico- PR</option>
                          <option value="Qatar- QA">Qatar- QA</option>
                          <option value="Reunion- RE">Reunion- RE</option>
                          <option value="Romania- RO">Romania- RO</option>
                          <option value="Russian Federation- RU">Russian Federation- RU</option>
                          <option value="Rwanda- RW">Rwanda- RW</option>
                          <option value="Saint Barthélemy- BL">Saint Barthélemy- BL</option>
                          <option value="Saint Helena, Ascension and Tristan da Cunha- SH">Saint Helena, Ascension and Tristan da Cunha- SH</option>
                          <option value="Saint Kitts and Nevis- KN">Saint Kitts and Nevis- KN</option>
                          <option value="Saint Lucia- LC">Saint Lucia- LC</option>
                          <option value="Saint Martin (French part)- MF">Saint Martin (French part)- MF</option>
                          <option value="Saint Pierre and Miquelon- PM">Saint Pierre and Miquelon- PM</option>
                          <option value="Saint Vincent and the Grenadines- VC">Saint Vincent and the Grenadines- VC</option>
                          <option value="Samoa- WS">Samoa- WS</option>
                          <option value="San Marino- SM">San Marino- SM</option>
                          <option value="Sao Tome and Principe- ST">Sao Tome and Principe- ST</option>
                          <option value="Saudi Arabia- SA">Saudi Arabia- SA</option>
                          <option value="Senegal- SN">Senegal- SN</option>
                          <option value="Serbia- RS">Serbia- RS</option>
                          <option value="Seychelles- SC">Seychelles- SC</option>
                          <option value="Sierra Leone- SL">Sierra Leone- SL</option>
                          <option value="Singapore- SG">Singapore- SG</option>
                          <option value="Sint Maarten (Dutch part)- SX">Sint Maarten (Dutch part)- SX</option>
                          <option value="Slovakia- SK">Slovakia- SK</option>
                          <option value="Slovenia- SI">Slovenia- SI</option>
                          <option value="Solomon Islands- SB">Solomon Islands- SB</option>
                          <option value="Somalia- SO">Somalia- SO</option>
                          <option value="South Africa- ZA">South Africa- ZA</option>
                          <option value="South Georgia and the South Sandwich Islands- GS">South Georgia and the South Sandwich Islands- GS</option>
                          <option value="South Sudan- SS">South Sudan- SS</option>
                          <option value="Spain- ES">Spain- ES</option>
                          <option value="Sri Lanka- LK">Sri Lanka- LK</option>
                          <option value="Sudan- SD">Sudan- SD</option>
                          <option value="Suriname- SR">Suriname- SR</option>
                          <option value="Svalbard and Jan Mayen- SJ">Svalbard and Jan Mayen- SJ</option>
                          <option value="Swaziland- SZ">Swaziland- SZ</option>
                          <option value="Sweden- SE">Sweden- SE</option>
                          <option value="Switzerland- CH">Switzerland- CH</option>
                          <option value="Syrian Arab Republic- SY">Syrian Arab Republic- SY</option>
                          <option value="Taiwan, Province of China- TW">Taiwan, Province of China- TW</option>
                          <option value="Tajikistan- TJ">Tajikistan- TJ</option>
                          <option value="Tanzania, United Republic of- TZ">Tanzania, United Republic of- TZ</option>
                          <option value="Thailand- TH">Thailand- TH</option>
                          <option value="Timor-Leste- TL">Timor-Leste- TL</option>
                          <option value="Togo- TG">Togo- TG</option>
                          <option value="Tokelau- TK">Tokelau- TK</option>
                          <option value="Tonga- TO">Tonga- TO</option>
                          <option value="Trinidad and Tobago- TT">Trinidad and Tobago- TT</option>
                          <option value="Tunisia- TN">Tunisia- TN</option>
                          <option value="Turkey- TR">Turkey- TR</option>
                          <option value="Turkmenistan- TM">Turkmenistan- TM</option>
                          <option value="Turks and Caicos Islands- TC">Turks and Caicos Islands- TC</option>
                          <option value="Tuvalu- TV">Tuvalu- TV</option>
                          <option value="Uganda- UG">Uganda- UG</option>
                          <option value="Ukraine- UA">Ukraine- UA</option>
                          <option value="United Arab Emirates- AE">United Arab Emirates- AE</option>
                          <option value="United Kingdom- GB">United Kingdom- GB</option>
                          <option value="United States- US">United States- US</option>
                          <option value="United States Minor Outlying Islands- UM">United States Minor Outlying Islands- UM</option>
                          <option value="Uruguay- UY">Uruguay- UY</option>
                          <option value="Uzbekistan- UZ">Uzbekistan- UZ</option>
                          <option value="Vanuatu- VU">Vanuatu- VU</option>
                          <option value="Venezuela, Bolivarian Republic of- VE">Venezuela, Bolivarian Republic of- VE</option>
                          <option value="Viet Nam- VN">Viet Nam- VN</option>
                          <option value="Virgin Islands, British- VG">Virgin Islands, British- VG</option>
                          <option value="Virgin Islands, U.S.- VI">Virgin Islands, U.S.- VI</option>
                          <option value="Wallis and Futuna- WF">Wallis and Futuna- WF</option>
                          <option value="Western Sahara- EH">Western Sahara- EH</option>
                          <option value="Yemen- YE">Yemen- YE</option>
                          <option value="Zambia- ZM">Zambia- ZM</option>
                          <option value="Zimbabwe- ZW">Zimbabwe- ZW</option>
                      	</select>
                      </div>
                      <div class="col-md-12">
                          <br><input type="file" class="pull-left" id="originInput" name="originInput" onchange="ValidateSingleInput(this);"> 
                      </div>
                      </div>                        
                    </td>
                  </tr>
              </table>
              </div>
              <div class="col-md-8">
                <div id="loaddataview"></div>      
            		<div id="resetpreview">     
              		<table class="table table-bordered dataTables" id="prop">                
                    <thead>
                      <tr style="background-color: #dedede; !important">
                        <th style="width: 35%;">Property</th>
                        <th style="width: 5%;">&nbsp;</th>
                        <th style="width: 35%;">Value</th>
                        <th style="width: 25%;">Source</th>
                        <th class="hide">Mandatory</th>
                      </tr>
                    </thead>  
                    <tbody>
                      <tr id="pr1" class="text">
                        <td>
                        <input type="hidden" id="test1" />
                        <span id="dynamiclink1"></span>
                        <input type="text" class="form-control input-sm prop_name hide " id="prop_name1" name="prop_name[]" required="required"
                        >&nbsp;&nbsp;&nbsp;
                        <a data-toggle="modal" href="" data-id="1" class="modal_prop pull-right">BROWSE</a>
                        <!-- <a data-toggle="modal" href="#modal-prop" data-id="1" class="modal_prop pull-right" onclick="resetvalue(1);">BROWSE</a> -->
                        <input class="hide" type="text" name="prop_concept_ID[]" id="prop_concept_ID1">
                        <input class="hide dupcheck" type="text" name="prop_term_ID[]" id="prop_term_ID1">
                        <input class="hide" type="text" name="prop_definition_ID[]" id="prop_definition_ID1">
                        <input class="hide" type="text" name="prop_term_organization_name[]" id="prop_term_organization_name1">
                        <input class="hide" type="text" name="prop_definition_content[]" id="prop_definition_content1">
                        <input class="hide" type="text" name="prop_language_name[]" id="prop_language_name1">
                        </td>
                        <td> <input type="button" class="btn btn-xs btn-info btn-circle" value="+" name="add1" id="add1" onClick="add_ro(1);" title="Add property"></td>
                        <td><input type="text" class="form-control input-sm" id="prop_value1" name="prop_value[]" style="width: 100% !important;"></td>
                        <td><input type="text" class="form-control input-sm" id="prop_source1" name="prop_source[]" style="width: 100% !important;"></td>
                        <td class="hide">
                          <select name="prop_mandatory[]" class="form-control input-sm" id="prop_mandatory1">
                            <option value="NO">NO</option><option value="YES">YES</option>
                          </select>
                        </td>
                      </tr>
                    </tbody>
              		</table> 
            		</div> 
            		<span id="submit"></span>
              </div>
            </div> 
          <% end %> 
          <input type="hidden" id="changeoccur" class="changeoccur">
          <input type="hidden" id="changetemp" class="changetemp">
          <input type="hidden" id="changeigid" name="changeigid">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="modal-form">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="border:2px solid #1C84C6;">
      <div class="modal-header" style="background:#1C84C6;color:#f3f3f4 !important;">
	      <button type="button" class="close" data-dismiss="modal" aria-label="Close"  style="color:#f3f3f4 !important;"><span aria-hidden="true">&times;</span></button>
	      <h4 class="modal-title" id="gridSystemModalLabel" style="color:#f3f3f4 !important;">Class Names</h4>
      </div>
      <%= form_tag(addnew_path,:method => "post", id: "searchclass") do %>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="">Search Class Name</label>
                <input type="text"  name="class_name" id="class_name" class="form-control input-sm">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="">Operation</label>
                <select name="query" id="query" class="form-control input-sm">
                   <option value="startwith">start with</option>
                   <option value="like">contains</option>
                   <option value="=">equal to</option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="">Organization</label>
                <select name="organization" id="organization" class="form-control input-sm">
	                <option value="">select</option>
              	  <% @org.each do |org|%>
	                    <option value="<%= org.Legal_name %>"><%= org.Legal_name %></option>
	                <% end %>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="">Language</label>
                <select name="language" id="language" class="form-control input-sm">
                	<option value="">select</option>
                  <% @lang.each do |lang|%>                          
                    <option value="<%= lang.language_ID %>" <% if lang.language_ID=="0161-1#LG-000001#1" %>selected<% end %>><%= lang.language_name %></option>
                  <% end %>
                </select>
              </div>
            </div>
            <div class="col-md-12">
              <input type="submit" class="btn btn-success btn-sm" value="Search" name="search" id="search">
              <input type="button" class="btn btn-danger btn-sm" value="Show All" name="reset" id="reset" onclick="class_btn(id)">
              <img src="assets/load.gif" class="pull-right" alt="" id ="class_img" class="img-responsive" style="display: none;">
            </div>                
          </div>  
          <br>
          <div class="row">
            <div class="col-md-12">
             	<div id="preview"></div>                                                       
            </div>
          </div>
      	</div>  
      <% end %>
    </div>
  </div>
</div>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="modal-prop">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="border:2px solid #1C84C6;">
      <div class="modal-header" style="background:#1C84C6;color:#f3f3f4 !important;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"  style="color:#f3f3f4 !important;"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel" style="color:#f3f3f4 !important;">Property Names</h4>
      </div>
      <%= form_tag(addnew_path,:method => "post", id: "search_prop") do %>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="">Search Property Name</label>
                <input type="hidden" name="auto_inc" id="auto_inc">
                <input type="text"  name="property_name" id="property_name" class="form-control input-sm"/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="">Operation</label>
                <select name="query_prop" id="query_prop" class="form-control input-sm">
                   <option value="startwith">start with</option>
                   <option value="like">contains</option>
                   <option value="=">equal to</option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
	            <div class="form-group">
	              <label for="">Organization</label>
	              <select name="organization_prop" id="organization_prop" class="form-control input-sm">
	              <option value="">select</option>
	                 <% @org.each do |org|%>
	                  <option value="<%= org.Legal_name %>"><%= org.Legal_name %></option>
	                <% end %>
	              </select>
	            </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="">Language</label>
                <select name="language_prop" id="language_prop" class="form-control input-sm">
                <option value="">select</option>
                  <% @lang.each do |lang|%>
                    <option value="<%= lang.language_ID %>" <% if lang.language_ID=="0161-1#LG-000001#1" %>selected<% end %>><%= lang.language_name %></option>
                  <% end %>
                </select>
              </div>
            </div>
            <div class="col-md-12">
              <input type="submit" class="btn btn-success btn-sm" value="Search" name="search_prop" id="search_prop1">
              <input type="hidden" name="class_prop">
              <input type="button" class="btn btn-danger btn-sm" value="Show All" name="reset_prop" id="reset" onclick="prop(id)">
              <img src="assets/load.gif" class="pull-right" alt="" id ="prop_img1" class="img-responsive" style="display: none;">
            </div>                
          </div>  
          <br>
          <div class="row">
            <div class="col-md-12 pane">
              <div id="preview-prop"></div>
            </div>
          </div>
        </div>  
      <% end %>
    </div>
  </div>
</div>

<% content_for :javascript do %>
<script type="text/javascript">
function ajaxindicatorstart(text)
{
    if(jQuery('body').find('#resultLoading').attr('id') != 'resultLoading'){
    jQuery('body').append('<div id="resultLoading" style="display:none"><div>'+text+'</div><div class="bg"></div></div>');
    }

    jQuery('#resultLoading').css({
        'width':'100%',
        'height':'100%',
        'position':'fixed',
        'z-index':'10000000',
        'top':'0',
        'left':'0',
        'right':'0',
        'bottom':'0',
        'margin':'auto'
    });

    jQuery('#resultLoading .bg').css({
        'background':'#000000',
        'opacity':'0.7',
        'width':'100%',
        'height':'100%',
        'position':'absolute',
        'top':'0'
    });

    jQuery('#resultLoading>div:first').css({
        'width': '250px',
        'height':'75px',
        'text-align': 'center',
        'position': 'fixed',
        'top':'0',
        'left':'0',
        'right':'0',
        'bottom':'0',
        'margin':'auto',
        'font-size':'16px',
        'z-index':'10',
        'color':'#ffffff'
    });
    jQuery('#resultLoading .bg').height('100%');
       jQuery('#resultLoading').fadeIn(300);
    jQuery('body').css('cursor', 'wait');
}

function ajaxindicatorstop()
{
    jQuery('#resultLoading .bg').height('100%');
       jQuery('#resultLoading').fadeOut(300);
    jQuery('body').css('cursor', 'default');
}
  $(function() {  
    $('#pictureInput').on('change', function(event) {
      var files = event.target.files;
      var image = $("#pictureInput")[0].files[0];
      var reader = new FileReader();
      reader.onload = function(file) {
      $('#imgprev').attr('src',file.target.result)
      };
      reader.readAsDataURL(image);
      console.log(files);
    });
  });

  function getclass(test)
  {
    $('#modal-form').modal('hide');
    $("#class_img").show();
    search_class=test.split("||");
    var concept_ID = search_class[1];
    document.getElementById("term_content").value = search_class[0];
    document.getElementById("concept_ID").value = search_class[1];
    document.getElementById("term_ID").value = search_class[2];
    document.getElementById("definition_ID").value = search_class[3];
    document.getElementById("term_organization_name").value = search_class[4];
    document.getElementById("definition_content").value = search_class[5];
    document.getElementById("language_name").value = search_class[10];
    var loadexist = search_class[7];
    var igid = search_class[8]
    document.getElementById("changeigid").value= search_class[8];
    document.getElementById("classlink").innerHTML= "<a  target='_blank' href='dictionary_detail?esci="+search_class[9]+"'>"+search_class[0]+"</a>";
    if (loadexist=='S'){
      $("#class_img").hide();
      ajaxindicatorstart('loading data.. please wait..');
      var term_content = document.getElementById("term_content").value
      $.ajax({
        type: 'get',
        url: 'loadexisting',
        data: { term_content:term_content,con:concept_ID },
        success: function(data, status, jqXHR)
        {
          ajaxindicatorstop();
          $('#loaddataview').html(data);          
          $("#resetpreview").empty();
          var r = $('#plusbtn').val()
          $("#add"+r).css("display","block");
          $("#remove"+r).css("display","none");
          document.getElementById("changeoccur").value = 1;
          var some = $('#igid_1').val();
          document.getElementById("class_igid").value = some;
          document.getElementById("submit").innerHTML='<span class="text-success"><h3><input type="checkbox" name="upload_etsr" id="upload_etsr"/>&nbsp;&nbsp; <i class="fa fa-share"></i> Move to eTSR</h3></span> <input type="hidden" name="template" value="newtemplate"/><br /><input type="submit" class="btn btn-success pull-left" style=" padding-right:10px;" id= "class_prop" name="class_prop" value="Submit"> <br> <br>';
        }
      });
    }
    else{
      var backorg = 0
      $("#class_img").hide();
      document.getElementById("class_igid").value= search_class[8]=document.getElementById("changeigid").value;
      $.ajax({
        type: 'get',
        url: 'loadexisting',
        data: { backorg:backorg,con:concept_ID },
        success: function(data)
        {  
           $('#resetpreview').html(data);
           $("#loaddataview").empty();
           document.getElementById("changeoccur").value = 0;
           document.getElementById("submit").innerHTML='';
           // document.getElementById("submit").innerHTML='<span class="text-success"><h3><input type="checkbox" name="upload_etsr" id="upload_etsr"/>&nbsp;&nbsp; <i class="fa fa-share"></i> Move to eTSR</h3></span> <input type="hidden" name="template" value="newtemplate"/><br /><input type="submit" class="btn btn-success pull-left" style=" padding-right:10px;" id= "class_prop" name="class_prop" value="Submit"> <br> <br>';
        }
      });    
    }
  }
function resetclass()
{
  var backorg = 0
      $.ajax({
        type: 'get',
        url: 'loadexisting',
        data: { backorg:backorg },
        success: function(data)
        {  
           $('#resetpreview').html(data);
           $("#loaddataview").empty();
           document.getElementById("changeoccur").value = 0;
        }
      });   
}
function resetigid()
{
  var ig = document.getElementById("changeigid").value;
  if (ig!=0) {
    document.getElementById("igid").value = ig;
    document.getElementById("template").value = "existtemplate";
    $('#class_prop').css("display","block");
  }   
}

function getprop(prop,t)
{
  var a = prop;
  var v = document.getElementById('auto_inc').value;
  search_prop=a.split("||");
  document.getElementById("reject"+t).value = search_prop[1];
  document.getElementById("prop_name"+v).value = search_prop[0];
  document.getElementById("dynamiclink"+v).innerHTML = "<a  target='_blank' href='dictionary_detail?esci="+search_prop[7]+"'>"+search_prop[0]+"</a>";
  document.getElementById("prop_concept_ID"+v).value = search_prop[1];
  document.getElementById("prop_term_ID"+v).value = search_prop[2];
  document.getElementById("prop_definition_ID"+v).value = search_prop[3];
  document.getElementById("prop_term_organization_name"+v).value = search_prop[4];
  document.getElementById("prop_definition_content"+v).value = search_prop[5];
  document.getElementById("prop_language_name"+v).value = search_prop[6];    
  document.getElementById("test"+v).value = t;
  var changeoccur = document.getElementById("changeoccur").value;
  if (changeoccur==1 ) {
    document.getElementById("changetemp").value='C';      
  } 
  else {
    document.getElementById("changetemp").value='NC';
  }
  
  if (document.getElementById("changetemp").value=='C' ) {
    // alert("prop c");
     document.getElementById("submit").innerHTML='<div class="col-md-12 text-danger"><h3>We have noticed there are some changes in this template. Please choose the below options to update the changes.</h3></div><div class="col-lg-12"><span class="text-danger"><h3><input type="radio" name="template" value="existtemplate" onclick="resetigid();" required/>   Update the changes to the existing template.</h3></span></div><div class="col-lg-12"><span class="text-danger"><h3><input type="radio" name="template" value="newtemplate" required onclick="getbackigid();"/> Create this as a New template.</h3></span></div><div class="col-md-12">&nbsp;&nbsp;<span class="text-success"><h3><input type="checkbox"  name="upload_etsr" id="upload_etsr"/> <i class="fa fa-share"></i> Move to eTSR</h3></span> <input type="hidden" name="template" id="template" value="newtemplate"/><br /><input type="submit" class="btn btn-success pull-left" style=" padding-right:10px;" id= "class_prop" name="class_prop" value="Submit"></div><br> <br><br> <br><br> <br><br> <br>';

  }	 
  else {
    // alert("prop nc");
    document.getElementById("submit").innerHTML='<span class="text-success"><h3><input type="checkbox"  name="upload_etsr" id="upload_etsr"/>&nbsp;&nbsp; <i class="fa fa-share"></i> Move to eTSR</h3></span> <input type="hidden" name="template" value="newtemplate"/><br /><input type="hidden" name="template" value="newtemplate"/><input type="submit" class="btn btn-success pull-left" style=" padding-right:10px;" id= "class_prop" name="class_prop" value="Submit">  <br> <br>';
  }

  var textValues = new Array();
  var hide_flag = "true";
  $("input.dupcheck").each(function() {  
    doesExisit = ($.inArray($(this).val(), textValues) == -1) ? false : true;
    console.log(textValues)
    if (!doesExisit) {
        textValues.push($(this).val())
    } 
    else {
      document.getElementById("reject"+t).value = '';
      document.getElementById("prop_name"+v).value = '';
      document.getElementById("prop_concept_ID"+v).value = '';
      document.getElementById("prop_term_ID"+v).value = '';
      document.getElementById("prop_definition_ID"+v).value = '';
      document.getElementById("prop_term_organization_name"+v).value = '';
      document.getElementById("prop_definition_content"+v).value = '';
      document.getElementById("prop_language_name"+v).value = '';
      document.getElementById("dynamiclink"+v).innerHTML = '';
      alert('Duplicate property choosen');   
      hide_flag = "false";
    }
  });
  if (hide_flag == "true") {$('#modal-prop').modal('hide');}
}

function add_ro(va)
{
  xyz=$('.text').length
  v2=va;
  va=+va+1;
  var v=+va-1;
  var test=$('#prop tr:last').attr('id');
  var la=xyz+1;
  if(document.getElementById("prop_name"+v2).value!="" && document.getElementById("term_content").value!="")
  {
  document.getElementById("add"+v).style.display = "none";
  $("#remove"+v).css("display","block");
  $('#prop').append('<tr id="pr'+va+'" class="text"><td><input type="hidden" id="test'+va+'" /><span id="dynamiclink'+va+'"></span><input type="text" class="form-control input-sm prop_name hide" id="prop_name'+va+'" name="prop_name[]" required="required">&nbsp;&nbsp;&nbsp;<a data-toggle="modal" href="#modal-prop" data-id="'+va+'" class="modal_prop pull-right">BROWSE</a> <input class="hide " type="text" name="prop_concept_ID[]" id="prop_concept_ID'+va+'"><input type="text" name="prop_term_ID[]" id="prop_term_ID'+va+'" class="hide dupcheck" ><input type="text" name="prop_definition_ID[]" id="prop_definition_ID'+va+'" class="hide" ><input type="text" name="prop_term_organization_name[]" id="prop_term_organization_name'+va+'" class="hide" ><input type="text" name="prop_definition_content[]" id="prop_definition_content'+va+'" class="hide"><input type="text" name="prop_language_name[]" id="prop_language_name'+va+'" class="hide" ></td><td><input type="button" class="btn btn-xs btn-info btn-circle" value="+" name="add'+va+'" id="add'+va+'" onClick="add_ro('+va+');" title="Add property"> <input type="button" class="btn btn-xs btn-danger btn-circle" style="display:" value="-" name="remove'+va+'" id="remove'+va+'" onClick="removetable('+va+');" title="Delete property"></td><td><input type="text" class="form-control input-sm" id="prop_value'+va+'" name="prop_value[]" style="width: 100% !important;"></td><td><input type="text" class="form-control input-sm" id="prop_source'+va+'" name="prop_source[]" style="width: 100% !important;"></td><td class="hide"><select name="prop_mandatory[]" class="form-control input-sm" id="prop_mandatory'+va+'"><option value="NO">NO</option><option value="YES">YES</option></select></td><td class="hide"> <input type="text" name="tab'+va+'" id="tab'+va+'"  value='+va+' /></td></tr>');
  }
  else
  {
    alert("Please Fill Existing row");
  }
}

function getbackigid()
{
  var ig = document.getElementById("old_igid").value;
  document.getElementById("igid").value = ig;
  document.getElementById("template").value = "newtemplate";
  $('#class_prop').css("display","block");
}

$(document).on("click", ".modal_prop", function () {
   var auto_inc = $(this).data('id');
   $(".modal-body #auto_inc").val( auto_inc );
   $('input[name^="term_content"]').each(function() {
    if ($(this).val() == "") {
        alert('Please select the class name');
        return false;
    }
});
});

$(document).ready(function(){  
  $(document).on("click", "#class_prop", function () {
    $('#class_prop').css("display","none");
    var inputVal= $("#country_orgin").val();
    var originInput= $("#originInput").val();

    $('input[name^="term_content"]').each(function() {
    if ($(this).val() == "") {
        alert('Please select the class name');
        return false;
    }
});
  if(inputVal == "" && originInput=="") {
    alert('Please select/browse the country of orgin');
    $('#class_prop').css("display","block");
    return false;
  }
  $('input[name^="prop_name"]').each(function() {
      if ($(this).val() == "") {
          alert('Please select the property added or remove before submit');
          return false;
      }
  });
  }); 
  $("#searchclass").submit(function(event) {  
      $("#class_img").css("display","block");
    event.preventDefault();   
    
    $.post( 'modalclass?listall=0&page=1', $("#searchclass").serialize(),  
    function( data ) {  
    	$("#class_img").show();
      $("#class_img").css("display","none");
      $("#preview").html(data); 
    });
  });    
}); 

function removetable(id){         
	if (confirm('Are you sure you want to delete this?')) {
		if ($('#prop tr').length<3) 
		{
			alert ('class must have at least one row')
		} 
		else 
		{
			var v= id-1;
			var r = document.getElementById("test"+id).value;
			jQuery('#reject'+r).val("");
			jQuery('#pr'+id).remove();

			var ar = new Array();
			$('[id^="remove"]').each(
			function(){
				ar.push(
				parseInt( $(this).attr('id').replace('remove','') )
				);
			});
			var maxid = Math.max.apply( Math, ar )
      // alert(maxid);
			$('#add'+maxid).css("display","block");
			$('#class_prop').css("display","block");
		}
	}
}


function removerow(id){
  if (confirm('Are you sure you want to delete this?')) {
	   if ($('#prop tr').length<3) 
	    {
	    alert ('class must have at least one row')
	    } else 
	    {
      var v= id-1;
      var r = document.getElementById("test"+id).value;
      jQuery('#reject'+r).val("");
      jQuery('#pr'+id).remove();

      var ar = new Array();
      $('[id^="remove"]').each(
      function(){
        ar.push(
        parseInt( $(this).attr('id').replace('remove','') )
        );
      });
      var maxid = Math.max.apply( Math, ar )
      // alert(maxid);
      $('#add'+maxid).css("display","block");
	  	jQuery('#pr'+id).remove();
	  	var changeoccur = document.getElementById("changeoccur").value;
	    if (changeoccur==1) {document.getElementById("changetemp").value='C';} else {document.getElementById("changetemp").value='NC';}

	    if (document.getElementById("changetemp").value=='C' ) {
	         document.getElementById("submit").innerHTML='<div class="col-md-12 text-danger"><h3>We have noticed there are some changes in this template. Please choose the below options to update the changes.</h3></div><div class="col-lg-12"><span class="text-danger"><h3> <input type="radio" name="template" value="existtemplate" onclick="resetigid();" required/> Update the changes to the existing template.</h3></span></div><div class="col-lg-12"><span class="text-danger"><h3><input type="radio" name="template" value="newtemplate" required onclick="getbackigid();"/>  Create this as a New template.</h3></span>&nbsp;&nbsp;<span class="text-success"><h3><input type="checkbox"  name="upload_etsr" id="upload_etsr"/> <i class="fa fa-share"></i> Move to eTSR</h3></span></div><div class="col-md-12"><input type="submit" class="btn btn-success pull-left" style=" padding-right:10px;" id= "class_prop" name="class_prop" value="Submit"></div> <br> <br><br> <br><br> <br><br> <br>';
	      } 
	      else {
	        document.getElementById("submit").innerHTML='<input type="hidden" name="template" value="newtemplate"/><input type="submit" class="btn btn-success pull-left" style=" padding-right:10px;" id= "class_prop" name="class_prop" value="Submit"> <br> <br>';
	      }
	    }
	}
}

function class_btn(dat){
    $("#class_img").show();
	  $.ajax({
	    type: 'get',
	    url: 'modalclass',
	    data: { listall:dat,page:1 },
	    success: function(data)
	    {              
	        $("#class_img").hide();
	        $('#preview').html(data);  
	    }
	});  
}  

$(function(){
    $("#class_img").show();
  $.get('modalclass?listall=1&page=1', function(data) {
    $("#class_img").hide();
    $('#preview').html(data);   
  });
});

$(document).ready(function(){  
  $("#search_prop").submit(function(event) {  
    $("#prop_img1").css("display","block");
    event.preventDefault();   
    $.post( 'modalprop?listprop=0&page=1', $("#search_prop").serialize(),  
    function( data ) {  
     $("#prop_img1").css("display","none");
      $("#preview-prop").html(data); 
    });
  }); 
});  

function prop(dat){  
var z=$('.xyz').map( function(){return $(this).val(); }).get();  
var rst='reset';    
$("#prop_img1").show();
    $.ajax({
      type: 'get',
      url: 'modalprop',
      data: { 
        listprop:rst,
        reject:z,
        page:1
      },
      success: function(data)
      {
        $("#prop_img1").hide();
        $('#preview-prop').html(data);
      }
  });
}  

$(function(){
    $("#prop_img1").show();
  $.get('modalprop?listprop=1&page=1', function(data) {
    $("#prop_img1").hide();
    $('#preview-prop').html(data);
  });
});

$(function() {
    var config = {
        '.chosen-select': {},
    }
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }
});

function func(val)
{
    $("#class_img").show();
 $.ajax({
        type: 'get',
        url: 'modalclass',
        data: { listall:1,page:val },
        success: function(data, status, jqXHR)
        {
            $("#class_img").hide();
            $('#preview').html(data);
        }
        });
}
function func1(val)
{
  var class_name=document.getElementById("class_name").value;
  var query=document.getElementById("query").value;
  var language=document.getElementById("language").value;
  var organization=document.getElementById("organization").value;
		$.ajax({
    type: 'get',
    url: 'modalclass',
    data: { listall:0,page:val,class_name:class_name,query:query,organization:organization,language:language },
    success: function(data, status, jqXHR)
    {
        $("#class_img").hide();
        $('#preview').html(data); 
    }
    });
}

function func_prop(val)
{
$("#prop_img1").show();
 $.ajax({

        type: 'get',
        url: 'modalprop',
        data: { listprop:1,page:val },

        success: function(data, status, jqXHR)
        {
            $("#prop_img1").hide();
            $('#preview-prop').html(data); 
        }
        });
}
function func_prop1(val)
{
    var prop_name=document.getElementById("property_name").value;
    var query=document.getElementById("query_prop").value;
    var language=document.getElementById("language_prop").value;
    var organization=document.getElementById("organization_prop").value;
    $("#prop_img1").show();
    // alert(query);
 $.ajax({
        type: 'get',
        url: 'modalprop',
        data: { listprop:0,page:val,property_name:prop_name,query_prop:query,organization_prop:organization,language_prop:language },
        success: function(data, status, jqXHR)
        {
            $("#prop_img1").hide();
            $('#preview-prop').html(data);
        }
        });
}

var _validFileExtensions = [".pdf"];    
function ValidateSingleInput(oInput) {
  if (oInput.type == "file") {
    var sFileName = oInput.value;
     if (sFileName.length > 0) {
      var blnValid = false;
      for (var j = 0; j < _validFileExtensions.length; j++) {
          var sCurExtension = _validFileExtensions[j];
          if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
              blnValid = true;
              break;
          }
      }        
      if (!blnValid) {
          alert("Please insert PDF file");
          oInput.value = "";
          return false;
      }
    }
  }
  return true;
}

$("#search").on('click',function() 
   {
    var str = document.getElementById("class_name").value;
    str = str.trimLeft();
   });

$("#search_prop1").on('click',function() 
   {
    var str = document.getElementById("property_name").value;
    str = str.trimLeft();
   });


</script>
<% end %>