<div style="overflow-y: scroll;max-height:500px;">
<div id="wait" style="display: none;" align="center"><img alt="image" class="img-responsive" src="<%= image_url '142.gif' %>" /></div> 
<table class="table table-bordered dataTables-example">
    <thead>
      <tr>
    
        <td>&nbsp;</td>
        <td>Class ID</td>
        <td>Class Name</td>
        <td>Organization</td>
        <td>Language</td>
      </tr> 

    </thead> 
    <tbody>         
            <% @modal_class.each do |modal_class|%>           
            <div id="modal_class">
              <%
              @term_content=modal_class.term_content
              @concept_Id=modal_class.concept_ID
              @term_ID=modal_class.term_ID
              @definition_ID=modal_class.definition_ID
              @term_organization_name=modal_class.term_organization_name
              @definition_content=modal_class.definition_content               
              @a = modal_class.Class_id               
              @decodeclass=Base64.encode64(@term_content)
              @language_code=modal_class.language_code
             
             if @a=="" || @a==nil
                @textclr="" 
                @identfy="F"
                @igid ="0"
                @concept_name =  @term_content + "||" + @concept_Id + "||" + @term_ID + "||" + @definition_ID + "||" + @term_organization_name + "||" + @definition_content + "||" + modal_class.language_name + "||" + @identfy + "||" + @igid + "||" + @decodeclass + "||" + modal_class.language_code 
             else
                @textclr="success" 
                @identfy="S"
                @enableigid = CorpIgname.where("Class_id = ? AND datedeleted = ?", @concept_Id,'0000-00-00 00').select(:igid)
                @enableigid.each do |enableigid|
                @igid =enableigid.igid 
                @concept_name =  @term_content + "||" + @concept_Id + "||" + @term_ID + "||" + @definition_ID + "||" + @term_organization_name + "||" + @definition_content + "||" + modal_class.language_name + "||" + @identfy + "||" + @igid + "||" + @decodeclass + "||" + modal_class.language_code 
                end
             end

              # @enable = CorpIgname.where("Class_id = ? AND datedeleted = ?", @concept_Id,'0000-00-00 00').select(:Class_id).count
              # if @enable>=1
              # else
              # end             
            %>
              <tr class="<%= @textclr %>">
                  <td><input type="radio" name="radio_con" id="" value="<%= @concept_name %>" onclick="getclass(this.value);" ></td>
                  <td><%= modal_class.concept_ID %></td>
                  <td><%= modal_class.term_content %></td>
                  <td><%= modal_class.term_organization_name %></td>
                  <td><%= modal_class.language_name %></td>
              </tr>            
            </div>
            <% end %>   
            <%= @modal_class1 %>
    </tbody>                   
</table>
</div>
