<style>
.dataTables-example > thead > tr > th{
  background-color: #1ab394;
  border-bottom-width: 1px;
  color:white;
}
</style>
  <table class="table table-bordered dataTables-example" id="#example">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th width="20%">Property ID</th>
        <th>Property Name</th>
        <th>Organization</th>
        <th width="20%">Language</th>
      </tr> 
    </thead> 
    <tbody>  
      <%@total_pages=(@modal_prop_count.to_f/@per_page.to_i).ceil%>
       <div class="container">
          <div class="row  jPager">
            <%if @listprop=="1" || @listprop=='reset'%>
            <%if @page=="1"%>
            <span class=" btn btn-primary btn-xs" disabled><i class="fa fa-angle-left"></i> First</span>
            <%else%>
            <span class=" btn btn-primary btn-xs" onclick="func_prop(1);"><i class="fa fa-angle-left"></i> First</span>
            <%end%>
            <%if @page=="1"%>
            <span class=" btn btn-primary btn-xs" disabled><i class="fa fa-angle-double-left"></i> Previous</span>
            <%else%>
            <span class=" btn btn-primary btn-xs" onclick="func_prop('<%=@page.to_i-1%>');"><i class="fa fa-angle-double-left"></i> Previous</span>
            <%end%>
             <%if @page.to_i==@total_pages.to_f || @total_pages==0%>
            <span class="btn btn-primary btn-xs"  disabled><i class="fa  fa-angle-double-right"></i> Next</span>
            <span class="btn btn-primary btn-xs"  disabled><i class="fa  fa-angle-right"></i> Last</span>
            <%else%>
            <span class="btn btn-primary btn-xs"  onclick="func_prop('<%=@page.to_i+1%>');"><i class="fa  fa-angle-double-right"></i> Next</span>
            <span class="btn btn-primary btn-xs"  onclick="func_prop('<%=@total_pages%>');"><i class="fa  fa-angle-right"></i> Last</span>
            <% end%>
            <%else%>
            <%if @page=="1"%>
             <span class=" btn btn-primary btn-xs" disabled><i class="fa fa-angle-left"></i> First</span>
            <%else%>
            <span class=" btn btn-primary btn-xs" onclick="func_prop1(1);"><i class="fa fa-angle-left"></i> First</span>
            <%end%>
            <%if @page=="1"%>
             <span class=" btn btn-primary btn-xs"  disabled><i class="fa fa-angle-double-left"></i> Previous</span>
            <%else%>
            <span class=" btn btn-primary btn-xs"  onclick="func_prop1('<%=@page.to_i-1%>');"><i class="fa fa-angle-double-left"></i> Previous</span>
            <%end%>
             <%if @page.to_i==@total_pages.to_f || @total_pages==0%>
             <span class="btn btn-primary btn-xs" disabled><i class="fa  fa-angle-double-right"></i> Next</span>
             <span class="btn btn-primary btn-xs"  disabled><i class="fa  fa-angle-right"></i> Last</span>
            <%else%>
             <span class="btn btn-primary btn-xs"  onclick="func_prop1('<%=@page.to_i+1%>');"><i class="fa  fa-angle-double-right"></i> Next</span>
            <span class="btn btn-primary btn-xs"  onclick="func_prop1('<%=@total_pages%>');"><i class="fa  fa-angle-right"></i> Last</span>
            <% end %>
            <%end%>
          </div>
        <%@per_page=10%>
        <%@startfrom= (@page.to_i-1) * @per_page%>
        <%@startfrom1=@startfrom+10%>
    </div>
    <% if @modal_prop_count.to_i==0%>
     <span style="color:red">No result found</span>
    <%else%>
    <%if @startfrom1>@modal_prop_count%>
    <span style="color:red">Showing <%=@startfrom.to_i%> to <%=@modal_prop_count.to_i%>  of <%=@modal_prop_count.to_i%> entries</span>
    <%else%>
    <span style="color:red">Showing <%=@startfrom.to_i%> to <%=@startfrom1.to_i%>  of <%=@modal_prop_count.to_i%> entries</span>
    <%end%>
    <%end%>
    <br>
    <% @i=0 %>
        <% @modal_prop.each do |modal_prop|%>
        <%
          @term_content=modal_prop.term_content
          @concept_Id=modal_prop.concept_ID
          @term_ID=modal_prop.term_ID
          @definition_ID=modal_prop.definition_ID
          @term_organization_name=modal_prop.term_organization_name
          @definition_content=modal_prop.definition_content
          @decode=Base64.encode64(@concept_Id)
          @a = modal_prop.s
          if @a=="" || @a=="y"
            @textclr="" 
          else
            @textclr="success"
          end
          
           @concept_name =  @term_content + "||" + @concept_Id + "||" + @term_ID + "||" + @definition_ID + "||" + @term_organization_name + "||" + @definition_content + "||" + modal_prop.language_name+ "||" + @decode           

        %>
          <tr id="t<%=@i %>" class="<%= @textclr %>">
              <td><input type="radio" name="radio_con" id="radio_con<%= @i %>" value="<%= @concept_name %>" onclick="getprop(value,<%= @i %>); return false;" ></td>
              <td><%= modal_prop.concept_ID %></td>
              <td><%= modal_prop.term_content %></td>
              <td><%= modal_prop.term_organization_name %> <input type="text" class="xyz hide" name="reject[]" id="reject<%= @i %>"></td>
              <td><%= modal_prop.language_name %></td>
          </tr>
          <% @i=@i+1 %>      
        <% end %>        
    </tbody>                  
</table>  
</div>

